VITE_CHANNEL_ID=
VITE_API_KEY=

VITE_UNAME=
VITE_PASS=

# Device specific CHANNEL_ID and API_KEY
VITE_CHANNEL_ID_1=
VITE_API_KEY_1=
VITE_CHANNEL_ID_2=
VITE_API_KEY_2=
VITE_CHANNEL_ID_3=
VITE_API_KEY_3=
VITE_CHANNEL_ID_4=
VITE_API_KEY_4=
VITE_CHANNEL_ID_5=
VITE_API_KEY_5=
VITE_CHANNEL_ID_6=
VITE_API_KEY_6=
VITE_CHANNEL_ID_7=
VITE_API_KEY_7=
VITE_CHANNEL_ID_8=
VITE_API_KEY_8=
VITE_CHANNEL_ID_9=
VITE_API_KEY_9=
VITE_CHANNEL_ID_10=
VITE_API_KEY_10=